@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=DM+Sans&family=Overpass+Mono:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
} 

.nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.logo{
    padding-left: 40px;
    padding-top: 10px;
}
.nav-text{
    padding-top: 33.5px;
    color: black;
    font-family: sans-serif;
    font-size: 18px; 
    padding-right: 7px;
    
}
ul {
   display: flex;
    list-style: none;
    padding-right: 10px;
}

.text{
    padding: 0px 45px 20px 0px;
    padding-left: 15px;
}

.right-nav{
padding-right: 12%;
padding-top: 15px;

}
.bttn1{
    font-size: 20px;
    background-color: white ;
    color: darkblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: blue;
    transition-duration: 0.4s;
}
.bttn1:hover{
    border-color: blue;
}
.bttn2{
    font-size: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.bttn2:hover{
    background-color: blue;
    transition-duration: 0.4s;
}
.info{
    display: flex;
}

.txt{
    padding-top: 10%;
    margin-left: 100px;
    
}
.slogan{
    font-size: 70px;
}
.more{
    font-family: 'DM Sans', sans-serif;
    font-size: 16.5px;
}
.img{
    margin-left: 90px;
}
.main-img{
    max-height: 600px;
}
.btnn3{
     margin-top: 20px;
     padding: 20px 20px 20px;
     border-radius: 10px;
     font-size: 15px;
     color: white;
     background-color: rgb(46, 46, 54);
}
.btnn3:hover{
    background-color: blue;
    transition-duration: 0.4s;
}
.btnn4{
    display: flex;
}
.btn4, .btn5{
    margin-top: 20px;
    padding: 10px 10px 10px 13px;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
    margin-right: 8px;
    
}
.btn4:hover,.btn5:hover{
    transition: transform 0.4s ;
    transform: translateY(-5px);
}
.assurance{
    margin: 18px 0px 100px 230px;
    display: flex;
    justify-content: center;
    padding: 130px 16px 70px;
    width: 80%;
}
.security{
    max-height: 120px;
    margin-right: 50px;

   
}
.container{
    margin-bottom: 30px;
    line-height: 41.21px;
}
.assurance-header{
    font-size: 33px;
    font-family: 'DM Sans', sans-serif;

}
.assurance-text{
    margin-top: 10px;
   font-size: 15.5px;
    font-family: 'DM Sans', sans-serif;
}
.learn-more{
    margin-top: 400px;
    font-size: 20px;
    text-decoration: none;
    color: #0d60d8;
    position: relative;
}

.learn-more::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d0e2fc;
    transition: width 0.25s ease-in-out;
}
.learn-more:hover::before{
    width: 80%;
    left: 0;
    right: auto;
}

.ways {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 273px;
    
}
.ways-1{
    width: 80%;
    margin-right: 20px;

}
.ways-1 > h3{
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: U8-Bold!important;
        
}

.ways .ways-12 {
    padding: 0px 0px 187px 0px;

}
.ways-12 {
    line-height: 30px;
}

.ways1-1 {
    position: absolute;
    background-color: #f9f9f9;
    width: 23%;
    height: 364px;
    box-sizing: border-box;
    border-radius: 45px;
    margin: -95px -321px;
}

.ways1-2 {
    position: absolute;
    background-color: #f9f9f9;
    width: 23%;
    height: 364px;
    box-sizing: border-box;
    border-radius: 45px;
    margin: -95px 97px;
}

.ways1-3 {
    position: absolute;
    background-color: #f9f9f9;
    width: 23%;
    height: 364px;
    box-sizing: border-box;
    border-radius: 45px;
    margin: 296px -321px;
}

.ways1-4 {
    position: absolute;
    background-color: #f9f9f9;
    width: 23%;
    height: 364px;
    box-sizing: border-box;
    border-radius: 45px;
    margin: 296px 97px;
}
.ways1-1 > p, .ways1-2 > p, .ways1-3 > p,.ways1-4 > p{
    margin-top: 20px;
}
.ways1-1 > h4, .ways1-2 > h4, .ways1-3 > h4,.ways1-4 > h4{
    margin-top: 15px;
}

.ways .ways-12 a.ways-arrw {
    padding: 45px 0px 0px 36px;
    text-decoration: none;
    color: #000000;
    position: absolute;
    transition: all 0.5s ease 0s;
}

.ways .ways-12 a.ways-arrw:hover {
    padding: 45px 0px 0px 50px;
}

.sub-title {
    display: flex;
    align-items: center;
}

.invest {
    margin: 456px 151px 0px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-abt-inv::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f6dbf8;
    transition: width 0.25s ease-in-out;
}
.more-abt-inv:hover::before{
    width: 80%;
    left: 0;
    right: auto;
}

.mvp {
    background-image: url(./imgs/blue.png);
    height: 414px;
    background-position-x: 977px;
    background-repeat: no-repeat;
    color: white;
    background-size: 35%;
    background-color: #0d60d8;
    margin: 178px 0px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 234px;
}

.footer-end .end-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.text-right {
    text-decoration: none;
    font-size: 16px;
    color: #353535;
    font-size: 12.82px;
    font-family: 'DM sans', sans-serif;
    font-weight: bolder;
}
 
